In [10]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
# Answer:
# import pandas as pd
import pandas as pd

# Creating empty series
ser = pd.Series([4, 8, 15, 16, 23,42])

print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [17]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on thevariable print it.
# Answer:
import pandas as pd
variable = [1,2,3,4,5,6,7,8,9,10]
ser = pd.Series(variable)
print(ser)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [15]:
# Q3:
# Answer:
import pandas as pd
df = pd.read_csv("data100.csv")
print(df)
print(type(df))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
<class 'pandas.core.frame.DataFrame'>

In [20]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
# Answer:
#     As noted in the table, a Pandas Series is a 1D array of data, but a single-column DataFrame is
#    a 2D table with one column. The main distinction between the two is this. For a single-column DataFrame, 
#    an index can be optional, but a Series has to have an index defined.
print(list(df.columns))
print(df['Name'])
print(type(df['Name']))
print(df[['Name','Age']])
print(type(df[['Name','Age']]))

['Name', 'Age', 'Gender']
0     Alice
1       Bob
2    Claire
Name: Name, dtype: object
<class 'pandas.core.series.Series'>
     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27
<class 'pandas.core.frame.DataFrame'>

In [24]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? 
#       Canyou give an example of when you might use one of these functions?
# Answer:
#    Some common functions you can use to manipulate data in a Pandas DataFrame are head(),tail() etc.
print(df.head())  # This is print starting five row by default

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [25]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
# Answer:
    # Series: 1D labeled homogeneous array, sizeimmutable.
    # DataFrame: General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed columns.
    # Panel: General 3D labeled, size-mutable array.

In [26]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.
# Answer:
import pandas as pd
# Create pandas Series
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

# Combine two series.
df=pd.concat([courses,fees],axis=1)

# It also supports to combine multiple series.
df=pd.concat([courses,fees,discount],axis=1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000