In [2]:
import pandas as pd

In [3]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.5)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.4)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
df = pd.read_csv("data2.csv")

In [7]:
df.columns

Index(['Name', 'Address', 'email_id', 'phone_number', 'Sex', 'Civil_code',
       'income', 'monthly_sal'],
      dtype='object')

In [13]:
s = df['Name'][0:10]

In [14]:
s

0    Dushyant kumar
1    Bushyant kumar
2    Cushyant kumar
3    Eushyant kumar
4    Rushyant kumar
5    Fushyant kumar
6    Jushyant kumar
7    Kushyant kumar
8    Lushyant kumar
9    Sushyant kumar
Name: Name, dtype: object

In [15]:
len(s)

10

In [16]:
type(s)

pandas.core.series.Series

In [17]:
s

0    Dushyant kumar
1    Bushyant kumar
2    Cushyant kumar
3    Eushyant kumar
4    Rushyant kumar
5    Fushyant kumar
6    Jushyant kumar
7    Kushyant kumar
8    Lushyant kumar
9    Sushyant kumar
Name: Name, dtype: object

In [18]:
l = ['a','b','c','d','e','f','g','h','i','j']

In [26]:
s1 = pd.Series(list(s),index = l)

In [27]:
l1 = ['1','2','3','4','5','6','7','8','9','10']

In [28]:
pd.Series(list(s), index = l1)

1     Dushyant kumar
2     Bushyant kumar
3     Cushyant kumar
4     Eushyant kumar
5     Rushyant kumar
6     Fushyant kumar
7     Jushyant kumar
8     Kushyant kumar
9     Lushyant kumar
10    Sushyant kumar
dtype: object

In [29]:
s1

a    Dushyant kumar
b    Bushyant kumar
c    Cushyant kumar
d    Eushyant kumar
e    Rushyant kumar
f    Fushyant kumar
g    Jushyant kumar
h    Kushyant kumar
i    Lushyant kumar
j    Sushyant kumar
dtype: object

In [30]:
s[0]

'Dushyant kumar'

In [31]:
s1[0]

'Dushyant kumar'

In [32]:
s1['f']

'Fushyant kumar'

In [35]:
s2 =  s1.append(s)

/tmp/ipykernel_537/2065053183.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 =  s1.append(s)

In [36]:
s2[0]

'Dushyant kumar'

In [37]:
s2[4]

'Rushyant kumar'

In [39]:
s4 = pd.Series([3,4,5,6,7], index = [2,4,5,6,1])

In [40]:
s5 = pd.Series([34,345,45,45,454], index=[9,4,5,6,7])

In [42]:
s6 = s4.append(s5)

/tmp/ipykernel_537/937876903.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 = s4.append(s5)

In [44]:
s6

2      3
4      4
5      5
6      6
1      7
9     34
4    345
5     45
6     45
7    454
dtype: int64

In [43]:
s6[4]  # Based on named indexes

4      4
4    345
dtype: int64

In [45]:
s6[0:5]  # Based on default indexes

/tmp/ipykernel_537/2671872114.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:5]

2    3
4    4
5    5
6    6
1    7
dtype: int64

In [46]:
s4*s5  # Baesd on named indexes

1       NaN
2       NaN
4    1380.0
5     225.0
6     270.0
7       NaN
9       NaN
dtype: float64

In [47]:
s4+s5  # Baesd on named indexes

1      NaN
2      NaN
4    349.0
5     50.0
6     51.0
7      NaN
9      NaN
dtype: float64

In [ ]:
# DataFrame:
     # DataFrame is a combination of Series